USE [PPDM39_DEMO_1]
GO
/****** Object:  Table [file_catalog].[ASSIGNMENT_EXTENSION]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[ASSIGNMENT_EXTENSION](
	[EXTENSION_ID] [nvarchar](64) NOT NULL,
	[ASSIGNMENT_ID] [nvarchar](64) NOT NULL,
	[ORIGINAL_DUE_DATE] [date] NOT NULL,
	[NEW_DUE_DATE] [date] NOT NULL,
	[EXTENDED_BY] [nvarchar](64) NOT NULL,
	[EXTENDED_DATE] [datetime2](7) NOT NULL,
	[REASON] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EXTENSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[AUDIT_LOG]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[AUDIT_LOG](
	[AUDIT_ID] [nvarchar](40) NOT NULL,
	[EVENT_TIME] [datetime2](7) NOT NULL,
	[EVENT_TYPE] [nvarchar](50) NOT NULL,
	[USER_ID] [nvarchar](40) NULL,
	[USER_NAME] [nvarchar](255) NULL,
	[TARGET_ID] [nvarchar](40) NULL,
	[TARGET_TYPE] [nvarchar](50) NULL,
	[TARGET_NAME] [nvarchar](500) NULL,
	[OLD_VALUE] [nvarchar](max) NULL,
	[NEW_VALUE] [nvarchar](max) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[SESSION_ID] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[FILE_CURVE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[FILE_CURVE](
	[FILE_CURVE_ID] [nvarchar](40) NOT NULL,
	[FILE_HEADER_ID] [nvarchar](40) NOT NULL,
	[MNEMONIC] [nvarchar](40) NOT NULL,
	[UNIT] [nvarchar](40) NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[CURVE_TYPE] [nvarchar](20) NULL,
	[SORT_ORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FILE_CURVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[FILE_HEADER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[FILE_HEADER](
	[FILE_HEADER_ID] [nvarchar](40) NOT NULL,
	[INVENTORY_ID] [nvarchar](64) NULL,
	[FILE_TYPE] [nvarchar](10) NOT NULL,
	[FILE_PATH] [nvarchar](900) NOT NULL,
	[FILE_NAME] [nvarchar](260) NOT NULL,
	[FILE_SIZE_KB] [decimal](15, 2) NULL,
	[GUESSED_UWI] [nvarchar](40) NULL,
	[GUESSED_WELL_NAME] [nvarchar](200) NULL,
	[GUESSED_SURVEY] [nvarchar](200) NULL,
	[MATCHED_UWI] [nvarchar](40) NULL,
	[MATCH_METHOD] [nvarchar](20) NULL,
	[MATCH_SCORE] [decimal](5, 2) NULL,
	[WELL_NAME] [nvarchar](200) NULL,
	[OPERATOR] [nvarchar](200) NULL,
	[FIELD_NAME] [nvarchar](200) NULL,
	[COUNTRY] [nvarchar](100) NULL,
	[STATE_PROVINCE] [nvarchar](100) NULL,
	[COUNTY] [nvarchar](100) NULL,
	[TOP_DEPTH] [decimal](15, 4) NULL,
	[BASE_DEPTH] [decimal](15, 4) NULL,
	[DEPTH_STEP] [decimal](10, 4) NULL,
	[DEPTH_UOM] [nvarchar](20) NULL,
	[CURVE_COUNT] [int] NULL,
	[LOG_DATE] [nvarchar](50) NULL,
	[SERVICE_COMPANY] [nvarchar](200) NULL,
	[HEADER_JSON] [nvarchar](max) NULL,
	[HEADER_TEXT] [nvarchar](max) NULL,
	[CATALOGED_BY] [nvarchar](64) NULL,
	[CATALOG_DATE] [datetime2](7) NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[SOURCE] [nvarchar](100) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NOT NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FILE_HEADER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[FILE_SEIS_HEADER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[FILE_SEIS_HEADER](
	[SEIS_HEADER_ID] [nvarchar](40) NOT NULL,
	[INVENTORY_ID] [nvarchar](40) NULL,
	[CATALOG_FILE_ID] [nvarchar](40) NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_FORMAT] [nvarchar](10) NOT NULL,
	[SURVEY_NAME] [nvarchar](255) NULL,
	[FIELD_NAME] [nvarchar](200) NOT NULL,
	[VALUE] [nvarchar](1000) NULL,
	[SOURCE] [nvarchar](20) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEIS_HEADER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[FILE_WELL_HEADER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[FILE_WELL_HEADER](
	[FILE_HEADER_ID] [nvarchar](40) NOT NULL,
	[INVENTORY_ID] [nvarchar](40) NULL,
	[CATALOG_FILE_ID] [nvarchar](40) NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_FORMAT] [nvarchar](10) NOT NULL,
	[UWI] [nvarchar](40) NULL,
	[MNEMONIC] [nvarchar](50) NOT NULL,
	[VALUE] [nvarchar](500) NULL,
	[UNIT] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FILE_HEADER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[GLOBAL_FILE_CATALOG]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[GLOBAL_FILE_CATALOG](
	[INVENTORY_ID] [nvarchar](40) NOT NULL,
	[FILE_PATH] [nvarchar](1000) NOT NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_EXT] [nvarchar](20) NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[FILE_HASH] [nvarchar](64) NULL,
	[FILE_HASH_FULL] [nvarchar](64) NULL,
	[DUPLICATE_GROUP] [nvarchar](64) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[SCAN_DATE] [datetime2](7) NOT NULL,
	[CATALOG_STATUS] [nvarchar](20) NULL,
	[CATALOG_TABLE] [nvarchar](100) NULL,
	[ROOT_PATH] [nvarchar](500) NULL,
	[FILE_TYPE_GROUP] [nvarchar](50) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NOT NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GLOBAL_FILE_CATALOG] PRIMARY KEY CLUSTERED 
(
	[INVENTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[INVENTORY_ASSIGNMENT]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[INVENTORY_ASSIGNMENT](
	[ASSIGNMENT_ID] [nvarchar](64) NOT NULL,
	[GROUP_ID] [nvarchar](64) NOT NULL,
	[ASSIGNED_TO] [nvarchar](64) NOT NULL,
	[ASSIGNED_BY] [nvarchar](64) NOT NULL,
	[ASSIGNED_DATE] [datetime2](7) NOT NULL,
	[DUE_DATE] [date] NULL,
	[COMPLETED_DATE] [datetime2](7) NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[NOTES] [nvarchar](1000) NULL,
	[FILE_COUNT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ASSIGNMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[INVENTORY_GROUP]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[INVENTORY_GROUP](
	[GROUP_ID] [nvarchar](64) NOT NULL,
	[GROUP_NAME] [nvarchar](200) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[FILE_TYPE] [nvarchar](20) NULL,
	[ROOT_PATH] [nvarchar](500) NULL,
	[TOTAL_FILES] [int] NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[CREATED_BY] [nvarchar](64) NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[INVENTORY_GROUP_FILE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[INVENTORY_GROUP_FILE](
	[GROUP_FILE_ID] [nvarchar](64) NOT NULL,
	[GROUP_ID] [nvarchar](64) NOT NULL,
	[ASSIGNMENT_ID] [nvarchar](64) NOT NULL,
	[INVENTORY_ID] [nvarchar](64) NOT NULL,
	[ADDED_BY] [nvarchar](64) NULL,
	[ADDED_DATE] [datetime2](7) NOT NULL,
	[CATALOGED_IND] [nvarchar](1) NOT NULL,
	[CATALOGED_DATE] [datetime2](7) NULL,
	[SKIPPED_IND] [nvarchar](1) NOT NULL,
	[SKIP_REASON] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GROUP_FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[INVENTORY_SETTING]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[INVENTORY_SETTING](
	[SETTING_KEY] [nvarchar](100) NOT NULL,
	[SETTING_VALUE] [nvarchar](900) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SETTING_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[INVENTORY_USER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[INVENTORY_USER](
	[USER_ID] [nvarchar](64) NOT NULL,
	[FULL_NAME] [nvarchar](200) NOT NULL,
	[EMAIL] [nvarchar](200) NOT NULL,
	[PASSWORD_HASH] [nvarchar](64) NOT NULL,
	[ROLE] [nvarchar](20) NOT NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[LAST_LOGIN] [datetime2](7) NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[SEIS_HEADER_STAGING]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[SEIS_HEADER_STAGING](
	[STAGE_ID] [nvarchar](40) NOT NULL,
	[BATCH_ID] [nvarchar](40) NOT NULL,
	[FILE_NAME] [nvarchar](500) NULL,
	[SURVEY_NAME] [nvarchar](255) NULL,
	[LINE_NAME] [nvarchar](255) NULL,
	[SAMPLE_INTERVAL] [nvarchar](50) NULL,
	[SAMPLES_PER_TRACE] [nvarchar](50) NULL,
	[DATA_FORMAT_CODE] [nvarchar](50) NULL,
	[ACQ_DATE] [nvarchar](50) NULL,
	[OPERATOR] [nvarchar](255) NULL,
	[CLIENT] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[STATUS] [nvarchar](20) NULL,
	[REVIEW_NOTES] [nvarchar](500) NULL,
	[UPLOADED_DATE] [datetime2](7) NULL,
	[APPLIED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [file_catalog].[WELL_HEADER_STAGING]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [file_catalog].[WELL_HEADER_STAGING](
	[STAGE_ID] [nvarchar](40) NOT NULL,
	[BATCH_ID] [nvarchar](40) NOT NULL,
	[FILE_NAME] [nvarchar](500) NULL,
	[UWI] [nvarchar](40) NULL,
	[WELL_NAME] [nvarchar](255) NULL,
	[COMPANY] [nvarchar](255) NULL,
	[FIELD] [nvarchar](255) NULL,
	[COUNTY] [nvarchar](255) NULL,
	[STATE] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[LATITUDE] [nvarchar](50) NULL,
	[LONGITUDE] [nvarchar](50) NULL,
	[KB_ELEV] [nvarchar](50) NULL,
	[GL_ELEV] [nvarchar](50) NULL,
	[SPUD_DATE] [nvarchar](50) NULL,
	[COMP_DATE] [nvarchar](50) NULL,
	[STATUS] [nvarchar](20) NULL,
	[REVIEW_NOTES] [nvarchar](500) NULL,
	[UPLOADED_DATE] [datetime2](7) NULL,
	[APPLIED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[DLIS_CHANNEL]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[DLIS_CHANNEL](
	[DLIS_FILE_ID] [nvarchar](40) NOT NULL,
	[LOGICAL_FILE_IDX] [numeric](5, 0) NOT NULL,
	[FRAME_NAME] [nvarchar](100) NOT NULL,
	[CHANNEL_NAME] [nvarchar](40) NOT NULL,
	[LONG_NAME] [nvarchar](255) NULL,
	[UNITS] [nvarchar](40) NULL,
	[DIMENSION] [nvarchar](40) NULL,
	[IS_INDEX] [nvarchar](1) NOT NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [DLISCH_PK] PRIMARY KEY CLUSTERED 
(
	[DLIS_FILE_ID] ASC,
	[LOGICAL_FILE_IDX] ASC,
	[FRAME_NAME] ASC,
	[CHANNEL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[DLIS_FILE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[DLIS_FILE](
	[DLIS_FILE_ID] [nvarchar](40) NOT NULL,
	[REPOSITORY_ID] [nvarchar](40) NOT NULL,
	[UWI] [nvarchar](40) NOT NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[FILE_HASH] [nvarchar](64) NULL,
	[LOGICAL_FILE_COUNT] [numeric](5, 0) NULL,
	[CATALOG_DATE] [datetime2](7) NULL,
	[LAST_SEEN_DATE] [datetime2](7) NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[REMARK] [nvarchar](2000) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [DLISFILE_PK] PRIMARY KEY CLUSTERED 
(
	[DLIS_FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[DLIS_FRAME]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[DLIS_FRAME](
	[DLIS_FILE_ID] [nvarchar](40) NOT NULL,
	[LOGICAL_FILE_IDX] [numeric](5, 0) NOT NULL,
	[FRAME_NAME] [nvarchar](100) NOT NULL,
	[INDEX_CHANNEL] [nvarchar](40) NULL,
	[INDEX_TYPE] [nvarchar](40) NULL,
	[TOP_DEPTH] [numeric](15, 5) NULL,
	[BASE_DEPTH] [numeric](15, 5) NULL,
	[DEPTH_UOM] [nvarchar](20) NULL,
	[DEPTH_UOM_STD] [nvarchar](5) NULL,
	[TOP_DEPTH_M] [numeric](15, 3) NULL,
	[BASE_DEPTH_M] [numeric](15, 3) NULL,
	[SPACING] [numeric](15, 5) NULL,
	[CHANNEL_COUNT] [numeric](5, 0) NULL,
	[SAMPLE_COUNT] [numeric](15, 0) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [DLISFR_PK] PRIMARY KEY CLUSTERED 
(
	[DLIS_FILE_ID] ASC,
	[LOGICAL_FILE_IDX] ASC,
	[FRAME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[DLIS_LOGICAL_FILE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[DLIS_LOGICAL_FILE](
	[DLIS_FILE_ID] [nvarchar](40) NOT NULL,
	[LOGICAL_FILE_IDX] [numeric](5, 0) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[WELL_NAME] [nvarchar](255) NULL,
	[WELL_ID] [nvarchar](100) NULL,
	[COMPANY] [nvarchar](255) NULL,
	[FIELD_NAME] [nvarchar](255) NULL,
	[PRODUCER_NAME] [nvarchar](255) NULL,
	[PRODUCT] [nvarchar](255) NULL,
	[VERSION] [nvarchar](100) NULL,
	[FILE_SET_NAME] [nvarchar](255) NULL,
	[RUN_NUMBER] [nvarchar](40) NULL,
	[CREATION_TIME] [datetime2](7) NULL,
	[ORDER_NUMBER] [nvarchar](40) NULL,
	[FRAME_COUNT] [numeric](5, 0) NULL,
	[CHANNEL_COUNT] [numeric](5, 0) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [DLISLF_PK] PRIMARY KEY CLUSTERED 
(
	[DLIS_FILE_ID] ASC,
	[LOGICAL_FILE_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[DLIS_PARAMETER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[DLIS_PARAMETER](
	[DLIS_FILE_ID] [nvarchar](40) NOT NULL,
	[LOGICAL_FILE_IDX] [numeric](5, 0) NOT NULL,
	[PARAMETER_NAME] [nvarchar](40) NOT NULL,
	[LONG_NAME] [nvarchar](255) NULL,
	[VALUE] [nvarchar](500) NULL,
	[UNITS] [nvarchar](40) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [DLISPM_PK] PRIMARY KEY CLUSTERED 
(
	[DLIS_FILE_ID] ASC,
	[LOGICAL_FILE_IDX] ASC,
	[PARAMETER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[LAS_FILE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[LAS_FILE](
	[LAS_FILE_ID] [nvarchar](40) NOT NULL,
	[REPOSITORY_ID] [nvarchar](40) NOT NULL,
	[UWI] [nvarchar](40) NOT NULL,
	[WELL_NAME] [nvarchar](255) NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[LAS_VERSION] [nvarchar](10) NULL,
	[OPERATOR] [nvarchar](255) NULL,
	[FIELD] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[STATE_PROVINCE] [nvarchar](255) NULL,
	[COUNTY] [nvarchar](255) NULL,
	[TOP_DEPTH] [numeric](15, 5) NULL,
	[BASE_DEPTH] [numeric](15, 5) NULL,
	[DEPTH_STEP] [numeric](15, 5) NULL,
	[DEPTH_UOM] [nvarchar](10) NULL,
	[LOG_DATE] [nvarchar](50) NULL,
	[SERVICE_COMPANY] [nvarchar](255) NULL,
	[CURVE_COUNT] [numeric](10, 0) NULL,
	[SAMPLE_COUNT] [numeric](15, 0) NULL,
	[FILE_HASH] [nvarchar](64) NULL,
	[CATALOG_DATE] [datetime2](7) NULL,
	[LAST_SEEN_DATE] [datetime2](7) NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[REMARK] [nvarchar](2000) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LASFILE_PK] PRIMARY KEY CLUSTERED 
(
	[LAS_FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[LAS_FILE_CURVE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[LAS_FILE_CURVE](
	[LAS_FILE_ID] [nvarchar](40) NOT NULL,
	[CURVE_ID] [nvarchar](40) NOT NULL,
	[CURVE_UNIT] [nvarchar](40) NULL,
	[CURVE_DESCRIPTION] [nvarchar](255) NULL,
	[CURVE_TYPE] [nvarchar](40) NULL,
	[API_CODE] [nvarchar](40) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LASCURVE_PK] PRIMARY KEY CLUSTERED 
(
	[LAS_FILE_ID] ASC,
	[CURVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[LAS_FILE_PARAMETER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[LAS_FILE_PARAMETER](
	[LAS_FILE_ID] [nvarchar](40) NOT NULL,
	[PARAMETER_NAME] [nvarchar](40) NOT NULL,
	[PARAMETER_VALUE] [nvarchar](500) NULL,
	[PARAMETER_UNIT] [nvarchar](40) NULL,
	[SECTION] [nvarchar](10) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LASPARM_PK] PRIMARY KEY CLUSTERED 
(
	[LAS_FILE_ID] ASC,
	[PARAMETER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[LIS_CHANNEL]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[LIS_CHANNEL](
	[LIS_FILE_ID] [nvarchar](40) NOT NULL,
	[CHANNEL_NAME] [nvarchar](40) NOT NULL,
	[UNITS] [nvarchar](40) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[IS_INDEX] [nvarchar](1) NOT NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LISCH_PK] PRIMARY KEY CLUSTERED 
(
	[LIS_FILE_ID] ASC,
	[CHANNEL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[LIS_FILE]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[LIS_FILE](
	[LIS_FILE_ID] [nvarchar](40) NOT NULL,
	[REPOSITORY_ID] [nvarchar](40) NOT NULL,
	[UWI] [nvarchar](40) NOT NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[FILE_HASH] [nvarchar](64) NULL,
	[WELL_NAME] [nvarchar](255) NULL,
	[COMPANY] [nvarchar](255) NULL,
	[FIELD_NAME] [nvarchar](255) NULL,
	[LOG_DATE] [nvarchar](50) NULL,
	[SERVICE_COMPANY] [nvarchar](255) NULL,
	[TOP_DEPTH] [numeric](15, 5) NULL,
	[BASE_DEPTH] [numeric](15, 5) NULL,
	[DEPTH_UOM] [nvarchar](10) NULL,
	[CHANNEL_COUNT] [numeric](5, 0) NULL,
	[SAMPLE_COUNT] [numeric](15, 0) NULL,
	[CATALOG_DATE] [datetime2](7) NULL,
	[LAST_SEEN_DATE] [datetime2](7) NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[REMARK] [nvarchar](2000) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LISFILE_PK] PRIMARY KEY CLUSTERED 
(
	[LIS_FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[SEIS_FILE_CATALOG]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[SEIS_FILE_CATALOG](
	[SEIS_FILE_ID] [nvarchar](40) NOT NULL,
	[REPOSITORY_ID] [nvarchar](40) NULL,
	[FILE_FORMAT] [nvarchar](10) NOT NULL,
	[FILE_NAME] [nvarchar](500) NOT NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[FILE_HASH] [nvarchar](64) NULL,
	[SEIS_SET_ID] [nvarchar](40) NULL,
	[SEIS_LINE_ID] [nvarchar](40) NULL,
	[SEIS_SET_SUBID] [nvarchar](40) NULL,
	[SURVEY_NAME] [nvarchar](255) NULL,
	[LINE_NAME] [nvarchar](255) NULL,
	[VESSEL_NAME] [nvarchar](255) NULL,
	[CLIENT_NAME] [nvarchar](255) NULL,
	[DIMENSIONALITY] [nvarchar](10) NULL,
	[SAMPLE_INTERVAL_US] [numeric](10, 2) NULL,
	[SAMPLE_COUNT] [numeric](10, 0) NULL,
	[TRACE_COUNT] [numeric](15, 0) NULL,
	[DATA_FORMAT] [nvarchar](40) NULL,
	[SEGY_REVISION] [nvarchar](10) NULL,
	[RECORD_COUNT] [numeric](10, 0) NULL,
	[SHOT_COUNT] [numeric](10, 0) NULL,
	[FIRST_SHOT_POINT] [numeric](10, 2) NULL,
	[LAST_SHOT_POINT] [numeric](10, 2) NULL,
	[NAV_SYSTEM] [nvarchar](40) NULL,
	[ACQ_DATE_START] [nvarchar](30) NULL,
	[ACQ_DATE_END] [nvarchar](30) NULL,
	[MIN_LAT] [numeric](12, 7) NULL,
	[MAX_LAT] [numeric](12, 7) NULL,
	[MIN_LON] [numeric](12, 7) NULL,
	[MAX_LON] [numeric](12, 7) NULL,
	[MIN_X] [numeric](18, 3) NULL,
	[MAX_X] [numeric](18, 3) NULL,
	[MIN_Y] [numeric](18, 3) NULL,
	[MAX_Y] [numeric](18, 3) NULL,
	[COORD_SYSTEM] [nvarchar](255) NULL,
	[MIN_DEPTH_MS] [numeric](12, 3) NULL,
	[MAX_DEPTH_MS] [numeric](12, 3) NULL,
	[MIN_INLINE] [numeric](10, 0) NULL,
	[MAX_INLINE] [numeric](10, 0) NULL,
	[MIN_CROSSLINE] [numeric](10, 0) NULL,
	[MAX_CROSSLINE] [numeric](10, 0) NULL,
	[CATALOG_DATE] [datetime2](7) NULL,
	[LAST_SEEN_DATE] [datetime2](7) NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[REMARK] [nvarchar](2000) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
	[DEPTH_UOM] [nvarchar](10) NULL,
 CONSTRAINT [SEISCAT_PK] PRIMARY KEY CLUSTERED 
(
	[SEIS_FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[SEIS_FILE_HEADER]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[SEIS_FILE_HEADER](
	[SEIS_FILE_ID] [nvarchar](40) NOT NULL,
	[LINE_NO] [numeric](5, 0) NOT NULL,
	[HEADER_TEXT] [nvarchar](80) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [SEISHDR_PK] PRIMARY KEY CLUSTERED 
(
	[SEIS_FILE_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[WL_FILE_UWI_MAP]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[WL_FILE_UWI_MAP](
	[MAP_ID] [nvarchar](40) NOT NULL,
	[FILE_PATH] [nvarchar](500) NOT NULL,
	[FILE_NAME] [nvarchar](255) NOT NULL,
	[FILE_FORMAT] [nvarchar](10) NOT NULL,
	[REPOSITORY_ID] [nvarchar](40) NULL,
	[UWI] [nvarchar](40) NULL,
	[HEADER_WELL_ID] [nvarchar](255) NULL,
	[MATCH_METHOD] [nvarchar](20) NULL,
	[MATCH_SCORE] [numeric](5, 1) NULL,
	[MATCH_WELL_NAME] [nvarchar](255) NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[FILE_SIZE_KB] [numeric](15, 2) NULL,
	[REMARK] [nvarchar](2000) NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [WLMAP_PK] PRIMARY KEY CLUSTERED 
(
	[MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [las_catalog].[WL_REPOSITORY]    Script Date: 2026-05-07 10:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [las_catalog].[WL_REPOSITORY](
	[REPOSITORY_ID] [nvarchar](40) NOT NULL,
	[REPOSITORY_NAME] [nvarchar](200) NOT NULL,
	[REPOSITORY_TYPE] [nvarchar](40) NOT NULL,
	[BASE_PATH] [nvarchar](500) NOT NULL,
	[ACTIVE_IND] [nvarchar](1) NOT NULL,
	[REMARK] [nvarchar](2000) NULL,
	[SOURCE] [nvarchar](40) NOT NULL,
	[ROW_CREATED_BY] [nvarchar](30) NULL,
	[ROW_CREATED_DATE] [datetime2](7) NULL,
	[ROW_CHANGED_BY] [nvarchar](30) NULL,
	[ROW_CHANGED_DATE] [datetime2](7) NULL,
 CONSTRAINT [LASREP_PK] PRIMARY KEY CLUSTERED 
(
	[REPOSITORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [file_catalog].[ASSIGNMENT_EXTENSION] ADD  DEFAULT (getdate()) FOR [EXTENDED_DATE]
GO
ALTER TABLE [file_catalog].[AUDIT_LOG] ADD  DEFAULT (getutcdate()) FOR [EVENT_TIME]
GO
ALTER TABLE [file_catalog].[FILE_HEADER] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [file_catalog].[FILE_HEADER] ADD  DEFAULT (getdate()) FOR [ROW_CREATED_DATE]
GO
ALTER TABLE [file_catalog].[FILE_HEADER] ADD  DEFAULT (getdate()) FOR [ROW_CHANGED_DATE]
GO
ALTER TABLE [file_catalog].[FILE_SEIS_HEADER] ADD  DEFAULT (getutcdate()) FOR [ROW_CREATED_DATE]
GO
ALTER TABLE [file_catalog].[FILE_WELL_HEADER] ADD  DEFAULT (getutcdate()) FOR [ROW_CREATED_DATE]
GO
ALTER TABLE [file_catalog].[INVENTORY_ASSIGNMENT] ADD  DEFAULT (getdate()) FOR [ASSIGNED_DATE]
GO
ALTER TABLE [file_catalog].[INVENTORY_ASSIGNMENT] ADD  DEFAULT ('OPEN') FOR [STATUS]
GO
ALTER TABLE [file_catalog].[INVENTORY_ASSIGNMENT] ADD  DEFAULT ((0)) FOR [FILE_COUNT]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP] ADD  DEFAULT ((0)) FOR [TOTAL_FILES]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP] ADD  DEFAULT ('OPEN') FOR [STATUS]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP_FILE] ADD  DEFAULT (getdate()) FOR [ADDED_DATE]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP_FILE] ADD  DEFAULT ('N') FOR [CATALOGED_IND]
GO
ALTER TABLE [file_catalog].[INVENTORY_GROUP_FILE] ADD  DEFAULT ('N') FOR [SKIPPED_IND]
GO
ALTER TABLE [file_catalog].[INVENTORY_SETTING] ADD  DEFAULT (getutcdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [file_catalog].[INVENTORY_USER] ADD  DEFAULT ('CATALOGER') FOR [ROLE]
GO
ALTER TABLE [file_catalog].[INVENTORY_USER] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [file_catalog].[INVENTORY_USER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [file_catalog].[SEIS_HEADER_STAGING] ADD  DEFAULT ('PENDING') FOR [STATUS]
GO
ALTER TABLE [file_catalog].[SEIS_HEADER_STAGING] ADD  DEFAULT (getutcdate()) FOR [UPLOADED_DATE]
GO
ALTER TABLE [file_catalog].[WELL_HEADER_STAGING] ADD  DEFAULT ('PENDING') FOR [STATUS]
GO
ALTER TABLE [file_catalog].[WELL_HEADER_STAGING] ADD  DEFAULT (getutcdate()) FOR [UPLOADED_DATE]
GO
ALTER TABLE [las_catalog].[DLIS_CHANNEL] ADD  DEFAULT ('N') FOR [IS_INDEX]
GO
ALTER TABLE [las_catalog].[DLIS_FILE] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [las_catalog].[LAS_FILE] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [las_catalog].[LIS_CHANNEL] ADD  DEFAULT ('N') FOR [IS_INDEX]
GO
ALTER TABLE [las_catalog].[LIS_FILE] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [las_catalog].[SEIS_FILE_CATALOG] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [las_catalog].[WL_FILE_UWI_MAP] ADD  DEFAULT ('PENDING') FOR [STATUS]
GO
ALTER TABLE [las_catalog].[WL_REPOSITORY] ADD  DEFAULT ('Y') FOR [ACTIVE_IND]
GO
ALTER TABLE [file_catalog].[FILE_CURVE]  WITH CHECK ADD FOREIGN KEY([FILE_HEADER_ID])
REFERENCES [file_catalog].[FILE_HEADER] ([FILE_HEADER_ID])
GO
ALTER TABLE [las_catalog].[DLIS_CHANNEL]  WITH CHECK ADD  CONSTRAINT [DLISCH_FR_FK] FOREIGN KEY([DLIS_FILE_ID], [LOGICAL_FILE_IDX], [FRAME_NAME])
REFERENCES [las_catalog].[DLIS_FRAME] ([DLIS_FILE_ID], [LOGICAL_FILE_IDX], [FRAME_NAME])
GO
ALTER TABLE [las_catalog].[DLIS_CHANNEL] CHECK CONSTRAINT [DLISCH_FR_FK]
GO
ALTER TABLE [las_catalog].[DLIS_FILE]  WITH CHECK ADD  CONSTRAINT [DLISFILE_REP_FK] FOREIGN KEY([REPOSITORY_ID])
REFERENCES [las_catalog].[WL_REPOSITORY] ([REPOSITORY_ID])
GO
ALTER TABLE [las_catalog].[DLIS_FILE] CHECK CONSTRAINT [DLISFILE_REP_FK]
GO
ALTER TABLE [las_catalog].[DLIS_FILE]  WITH CHECK ADD  CONSTRAINT [DLISFILE_WELL_FK] FOREIGN KEY([UWI])
REFERENCES [dbo].[well] ([UWI])
GO
ALTER TABLE [las_catalog].[DLIS_FILE] CHECK CONSTRAINT [DLISFILE_WELL_FK]
GO
ALTER TABLE [las_catalog].[DLIS_FRAME]  WITH CHECK ADD  CONSTRAINT [DLISFR_LF_FK] FOREIGN KEY([DLIS_FILE_ID], [LOGICAL_FILE_IDX])
REFERENCES [las_catalog].[DLIS_LOGICAL_FILE] ([DLIS_FILE_ID], [LOGICAL_FILE_IDX])
GO
ALTER TABLE [las_catalog].[DLIS_FRAME] CHECK CONSTRAINT [DLISFR_LF_FK]
GO
ALTER TABLE [las_catalog].[DLIS_LOGICAL_FILE]  WITH CHECK ADD  CONSTRAINT [DLISLF_FILE_FK] FOREIGN KEY([DLIS_FILE_ID])
REFERENCES [las_catalog].[DLIS_FILE] ([DLIS_FILE_ID])
GO
ALTER TABLE [las_catalog].[DLIS_LOGICAL_FILE] CHECK CONSTRAINT [DLISLF_FILE_FK]
GO
ALTER TABLE [las_catalog].[DLIS_PARAMETER]  WITH CHECK ADD  CONSTRAINT [DLISPM_LF_FK] FOREIGN KEY([DLIS_FILE_ID], [LOGICAL_FILE_IDX])
REFERENCES [las_catalog].[DLIS_LOGICAL_FILE] ([DLIS_FILE_ID], [LOGICAL_FILE_IDX])
GO
ALTER TABLE [las_catalog].[DLIS_PARAMETER] CHECK CONSTRAINT [DLISPM_LF_FK]
GO
ALTER TABLE [las_catalog].[LAS_FILE]  WITH CHECK ADD  CONSTRAINT [LASFILE_REP_FK] FOREIGN KEY([REPOSITORY_ID])
REFERENCES [las_catalog].[WL_REPOSITORY] ([REPOSITORY_ID])
GO
ALTER TABLE [las_catalog].[LAS_FILE] CHECK CONSTRAINT [LASFILE_REP_FK]
GO
ALTER TABLE [las_catalog].[LAS_FILE_CURVE]  WITH CHECK ADD  CONSTRAINT [LASCURVE_FILE_FK] FOREIGN KEY([LAS_FILE_ID])
REFERENCES [las_catalog].[LAS_FILE] ([LAS_FILE_ID])
GO
ALTER TABLE [las_catalog].[LAS_FILE_CURVE] CHECK CONSTRAINT [LASCURVE_FILE_FK]
GO
ALTER TABLE [las_catalog].[LAS_FILE_PARAMETER]  WITH CHECK ADD  CONSTRAINT [LASPARM_FILE_FK] FOREIGN KEY([LAS_FILE_ID])
REFERENCES [las_catalog].[LAS_FILE] ([LAS_FILE_ID])
GO
ALTER TABLE [las_catalog].[LAS_FILE_PARAMETER] CHECK CONSTRAINT [LASPARM_FILE_FK]
GO
ALTER TABLE [las_catalog].[LIS_CHANNEL]  WITH CHECK ADD  CONSTRAINT [LISCH_FILE_FK] FOREIGN KEY([LIS_FILE_ID])
REFERENCES [las_catalog].[LIS_FILE] ([LIS_FILE_ID])
GO
ALTER TABLE [las_catalog].[LIS_CHANNEL] CHECK CONSTRAINT [LISCH_FILE_FK]
GO
ALTER TABLE [las_catalog].[LIS_FILE]  WITH CHECK ADD  CONSTRAINT [LISFILE_REP_FK] FOREIGN KEY([REPOSITORY_ID])
REFERENCES [las_catalog].[WL_REPOSITORY] ([REPOSITORY_ID])
GO
ALTER TABLE [las_catalog].[LIS_FILE] CHECK CONSTRAINT [LISFILE_REP_FK]
GO
ALTER TABLE [las_catalog].[LIS_FILE]  WITH CHECK ADD  CONSTRAINT [LISFILE_WELL_FK] FOREIGN KEY([UWI])
REFERENCES [dbo].[well] ([UWI])
GO
ALTER TABLE [las_catalog].[LIS_FILE] CHECK CONSTRAINT [LISFILE_WELL_FK]
GO
ALTER TABLE [las_catalog].[SEIS_FILE_CATALOG]  WITH CHECK ADD  CONSTRAINT [SEISCAT_REP_FK] FOREIGN KEY([REPOSITORY_ID])
REFERENCES [las_catalog].[WL_REPOSITORY] ([REPOSITORY_ID])
GO
ALTER TABLE [las_catalog].[SEIS_FILE_CATALOG] CHECK CONSTRAINT [SEISCAT_REP_FK]
GO
ALTER TABLE [las_catalog].[SEIS_FILE_HEADER]  WITH CHECK ADD  CONSTRAINT [SEISHDR_FILE_FK] FOREIGN KEY([SEIS_FILE_ID])
REFERENCES [las_catalog].[SEIS_FILE_CATALOG] ([SEIS_FILE_ID])
GO
ALTER TABLE [las_catalog].[SEIS_FILE_HEADER] CHECK CONSTRAINT [SEISHDR_FILE_FK]
GO
ALTER TABLE [las_catalog].[WL_FILE_UWI_MAP]  WITH CHECK ADD  CONSTRAINT [WLMAP_REP_FK] FOREIGN KEY([REPOSITORY_ID])
REFERENCES [las_catalog].[WL_REPOSITORY] ([REPOSITORY_ID])
GO
ALTER TABLE [las_catalog].[WL_FILE_UWI_MAP] CHECK CONSTRAINT [WLMAP_REP_FK]
GO
